# Python
.venv/
__pycache__/
*.py[cod]
*.db
.env

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Uploads & logs
backend/uploads/*
!backend/uploads/.gitkeep
*.log
